body {
    background-color: #f0f0f0;
    margin: unset;
}

.mte-main {
    background-color: #fafafa;
    max-width: 800px;
    padding: 10px;
    margin: 0 auto;
}

header {
    height: 48px;
}

.header-icon {
    background: url("saysp_icon.png");
    background-size: cover;
    width: 48px;
    height: 100%;
    float: left;
}

footer {
    text-align: center;
}

.copylight {
    color: #999;
    font-style: italic;
}